h2 {
    color: #F5B5FC;
}

button {
    color: blueviolet;
    background-color: darkgrey;
}

p {
    color: azure;
    background-color: darkorchid;
}

#daftar {
    background-color: cyan;
}